.title {
    text-align: center;
}
.form {
    width: 340px;
    padding: 60px;
    border-radius: 20px;
    background: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 540;
}
.input {
    min-height: 46px;
    border: 1px solid white;
    border-radius: 12px;
    background: transparent;
    padding-left: 12px;
    color: white;
    font-size: 15px;
}
.button {
    min-height: 46px;
    margin-top: 20px;
    border: 0;
    border-radius: 12px;
    font-weight: 501;
    color: rgb(29, 29, 29);
    font-size: 16px;
}