.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    gap: 20px;
}
.exit {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 8px;
    color: white;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
}
.link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}